body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e2f4f6;
  height: 100%;
}
html,
body {
  overflow-x: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  min-height: 100%;
  position: relative;
}

h1 {
  font-size: calc(18px + 0.6vw);
  font-weight: bold;
}

h2 {
  font-size: calc(14px + 0.25vw);

  font-weight: bold;
}

p {
  font-size: calc(12px + 0.15vw);
}
